.jumbotron{
	width: 680px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}
.form-control{
	margin-bottom: 5px;
}
.concluido{
	text-decoration: line-through;
	color:#a3a3a3;
}
.italico{
	font-style: italic;
}